@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    /* outline: 1px dashed rgb(24, 25, 25); */
}
html {
    scroll-behavior: smooth;
  }
#bubble{
    transform: translateX(0);
    animation: float 6s ease-out infinite;
}
@keyframes float {
    0%{
    transform: translateX(0);
    }50%{
    transform: translateY(10px);

    }
    100%{
    transform: translateX(0);

    }
}


.light_bg{
    /* background-color: #fff9fb; */
    background-color: rgb(240 253 244);
}
