@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    /* outline: 1px dashed rgb(24, 25, 25); */
}
#bubble{
    transform: translateX(0);
    animation: float 6s ease-out infinite;
}
@keyframes float {
    0%{
    transform: translateX(0);
    }50%{
    transform: translateY(10px);

    }
    100%{
    transform: translateX(0);

    }
}

